/*---------- Basic setup -----------*/
:root {
  --color-grey-1: #333;
  --color-gery-2: #111;
  --color-grey-light-1:#faf9f9;
  --color-grey-light-2:#f4f2f2;
  --color-grey-light-3:#f0eeee;
  --color-grey-light-4:#ccc;
  --color-grey-dark-1:#333;
  --color-grey-dark-2:#777;
  --color-grey-dark-3:#999;

  --color-white-1: #eee;
  --color-red-1: #c0392b;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.7%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 1rem;
  box-sizing: border-box;
}

@keyframes scale {
  0% {
    transform: translateY(-0.2rem) scale(1);
  }

  80% {

  }

  100% {
    transform: translateY(-0.2rem) scale(1.1);
  }
}

.heading3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem auto;
}

/*----------- Header begins -----------*/
.header {

  display: flex;
  justify-content: space-between;
}

/*---- Logo and title begin ----*/
.logo__heading {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

.logo {
  padding-top: 20px;
}

.logo__svg {
  height: 10rem;
  width: 12rem;
  transform: translateY(0rem) scale(1);

  transition: all 0.3s;
}

.logo__svg:hover {
  transform: translateY(-1rem) scale(1.1);
  fill: #2c3e50;
  /* box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); */
}

.logo__svg:active {
  /* box-shadow: none; */
  /* transform: translateY(0rem) scale(1); */
}

.booking__title {
  font-size: 3rem;
  font-weight: 300;
  transform: skewX(0deg) skewY(0deg) scale(1);
  transition: all 0.3s;
}

.booking__title:hover {
  transform: skewX(10deg) skewY(0.2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.booking__caption {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: right;
  padding-right: 1rem;
}

/*---- Logo and title end ----*/

/*---- navigation begin ----*/

.navigation {
  display: flex;
  align-items: center;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
  /* margin-right: 2rem; */
  margin-right: 2rem;

  transform: translateY(0rem) scale(1);
  transition: transform 0.3s;
}

.nav__item:hover {
  box-shadow: 1px 1px 1rem var(--color-grey-light-4);
  /* letter-spacing: 1px; */
  transform: translateY(-0.7rem) scale(1.1);
}

.nav__item:active {
  transform: translateY(0) scale(1);

}

.nav__icon {
  /* transition: all 0.3s; */
}

.nav__item:hover + .nav__icon, .nav__item:active + .nav__icon {
  margin-right: 0.5rem;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 1rem;
  color: var(--color-grey-1);
  border-bottom: 1px solid var(--color-grey-1);
  transform: scaleX(0);

  transition: all 0.3s;
}

.nav__link:hover {
  box-shadow: 1px 1px 1rem var(--color-grey-dark-2);
  transform: scale(1.1);
  color: var(--color-white-1);
  background-color: var(--color-grey-1);
}

 .nav__link:active {
   transform: scale(0);
 }



/*---- navigation end ----*/

/*---------- Horizontal line ----------*/

.page__hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, var(--color-gery-2), transparent);
}

.main {

  display: flex;
}

.h3 {
  text-align: center;
}
/*---------- Section Information begin ----------*/

.section__info {
  /* background-color: var(--color-grey-light-2); */
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--- Bus seat plan begin ---*/

.bus__layout-book {
  flex: 1;

  display: flex;
  justify-content: space-between;
}

.bus__booking {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Bus Info begin */
.bus__logo-info {

  display: flex;
  justify-content: center;
  align-items: center;
}

.bus__logo-img {
  width: 14rem;
  margin-right: 2rem;
}

.bus__company-name {
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--color-grey-1);
}

.bus__company-caption {
  text-align: right;
  padding-right: 1rem;
  color: var(--color-grey-dark-2);
}
/* Bus Info end */

/* Bus Rating begin */
.bus__rating {
  padding-right: 4rem;
  font-size: 3rem;
}

.rating__star {
  /* font-size: 1rem; */
  transform: translateY(0rem) scale(1);
  height: 2.5rem;

  transition: all 0.3s;
}


.rating__star:hover {
  transform: translateY(-0.3rem) scale(1.1);
}

/* .rating__star:focus {
  animation: scale 0.3s infinite;
} */


.rating__info {
  /* font-size: 0.7rem; */
  text-align: center;
  font-size: 1.2rem;
}
/* Bus Rating end */

/*--- Bus seat plan end ---*/

.bus__booking {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bus__booking-status {
  font-size: 1.5rem;
  font-weight: 300;
}

.dest__sign {
  font-size: 2rem;
}

/*---- Bus layout begin ----*/

.bus__layout-more {

}

.bus__layout-intro {

}

.bus__layout-picture {

  margin: 3rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* seat icons begin */

.seat_structure {
  display: flex;
}

.seat__icon {
  width: 2.3rem;
}

.seat__icon-mid {
  height: 3rem;
}

.seat__column-1 {
  margin-right: 3rem;
}

.seat__column-last {

}

.booked {
  fill: #7f8c8d;
  cursor: not-allowed;
  transform: scaleX(1);

  transition: all 0.3s;
}

.booked:hover {
  transform: scale(0.7);
}

.booked:active {
  fill: var(--color-red-1);
}

.notBooked {
  fill: #000;
  cursor: pointer;
  transform: translateY(0) scale(1);
  transition: all 0.3s;
}

.notBooked:hover {
  /*fill: #2ecc71;*/
  transform: translateY(-0.2rem) scale(1.07);
}

.notBooked:active, .notBooked:focus {
  fill: #27ae60;
}


.booking {
  cursor: pointer;
  fill: #27ae60 !important;

  transition: all 0.3s;
}
/* seat icons end */
/*---- Bus layout end ----*/

/*---------- Booking section bein -----------*/

.booking__section {

  display: flex;
  justify-content: center;
  align-items: center;
}

.booking__submit {

}

.submit {
  border: 1px solid var(--color-grey-dark-1);
  background-color: #fff;
  padding: 2rem;
  border-radius: 3px;
  color: var(--color-grey-dark-1);
  cursor: pointer;
  transform: translateY(0) scale(1);
  outline: none;

  transition: all 0.3s;
}

.submit:hover {
  transform: translateY(-0.7rem) scale(1.1);
  box-shadow: 1px 1px 3rem var(--color-grey-dark-2);
  letter-spacing: 1px;
  background-color: var(--color-grey-dark-1);
  color: #fff;
}

.submit:active {
  transform: translate(0rem) scale(1);
  box-shadow: none;
}

.submit:hover .submit__sign {
  margin-left: 1rem;
}
.submit__sign {
  transition: all 0.3s;
}

/*---------- Booking section end -----------*/
/*---------- Section Information end ----------*/
